.list-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: none;
    width: 60%;
}

.list > li {
    margin-top: 20px;
}

.nesto {
    color: gray;
    display: inline;
    margin-left: 20px;
}