.spinner-container {
    z-index: 1000;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.loading-spinner {
    display: flex;
    z-index: inherit;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    from {
        rotate: 270deg;
    }
    to {
        rotate: 630deg;
    }
}

@keyframes intro {
    from {
        scale: 5;
    }
    to {
        scale: 1;
    }
}

.circle {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    rotate: 90deg;
    display: flex;
    align-items: center;
    justify-content: left;
    animation: spin 1.5s ease-in-out 0ms infinite;
    
}

.inner-circle {
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    animation: intro 1.5s;
    border-radius: 50%;
}

