.back-button {
    position: fixed;
    display: inline-block;
    left: 20px;
    top: 20px;
    z-index: 100;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    font-size: 18pt;
    font-weight: 900 !important;
}