@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  /* background-color: rgb(50, 50, 50); */
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  border: solid black;
  transition: all 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}

input {
  width: 98.3%;
  height: 35px;
}
/* I know these percentages are cursed and are punishable by death :D */
textarea {
  min-width: 98.3%;
  max-width: 98.3%;
  min-height: 200px;
  padding: 5px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14pt;
}

input, textarea {
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  font-size: 12pt;
}

.button-cancel {
  background-color: lightslategray !important;
  border-color: lightslategray !important;
}

.button-cancel:hover {
  background-color: white !important;
  color: lightslategray;
  border-color: lightslategray;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-gap {
  column-gap: 20px;
}

.r-gap {
  row-gap: 20px;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.bottom {
  align-items:end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.end {
  justify-content: flex-end;
}

.ptitle {
  font-weight: 800;
  margin-bottom: 0;
}

.pbrand {
  margin: 0;
  font-weight: 500;
  color: gray;
}

.pcategory {
  color: gray;
  word-spacing: 10px;
}

.prating {
  margin: 0;
  font-weight: bold;
}

.prating::after {
  content: " â­";
  font-size: 20px;
}

.pdescription {
  font-size: 15pt;
  font-weight: 300;
}

.pthumbnail {
  min-width: 40%;
  max-height: 300px;
}

.pstock {
  color: gray;
}

.pimage {
  height: 200px;
  margin: 20px;
}

.pbutton {
  width: 100px !important;
  height: 50px !important;
}

.pimage-container {
  overflow-x: scroll;
  justify-content: start;
  background-color: lightgray;
  border-radius: 15px;
  min-height: 240px;
}

.pimage-container::-webkit-scrollbar {
  display: none;
}

.center {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

}

.content {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 5px 10px gray;
  width: 70%;
  margin: 40px 0;
  row-gap: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 5px 10px gray;
  height: 200px;
}

.image{
  max-width: 20%;
  max-height: 90%;
  border-radius: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 20px;
  width: 60%;
  height: 100%;
}

.title {
  align-self: center;
  font-size: 24pt;
  font-weight: 800;
  text-decoration: none;
  color: black;
  transition: letter-spacing, 500ms;
}

.title:hover {
  color: darkslategray;
  letter-spacing: 1px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10%;
}

.list-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  width: 60%;
}

.list > li {
  margin-top: 20px;
}

.nesto {
  color: gray;
  display: inline;
  margin-left: 20px;
}

.back-button {
  position: fixed;
  display: inline-block;
  left: 20px;
  top: 20px;
  z-index: 100;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  font-size: 18pt;
  font-weight: 900 !important;
}